.block-name-and-desc{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-transform: uppercase;
    position: relative;
}

.block-name-and-desc p{
    text-transform: capitalize;
}